body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

#top {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

#map {
  width: calc(100vw - 250px);
}

#side-panel {
  height: 100vh;
  width: 250px;
  background: gray;
}

#bottom {
  width: 100%;
}

#home-info {
  display: flex;
}
#ranking-tabs {
  background-color: #f8f9f9;
}

.flex-container {
  display: flex;
}

.list {
  list-style: none;
  padding: 0;
}

.content-wrap {
  width: 100%;
}
/* #nav-bar { keep 4 phan?
  margin-left: 250px;
  padding: 0px 10px;
} */
