body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#nav-bar {
  height: 0;
}

.user-links a,
.user-links a:visited {
  display: inline-block;
  margin: 1em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 7px #292929;
}

.link-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  margin: 13px 13px;
  right: 0;
  z-index: 2;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  width: 3.5em;
  border-radius: 100px;
  background-color: rgb(255, 134, 35);
}

.logo {
  display: inline-block;
  color: white;
  text-align: center;
  font-weight: bold;
}

.form-welcome {
  margin: 0.5em;
  display: inline-block;
}

.fields {
  display: flex;
  align-items: center;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

#top {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

#map {
  width: calc(100vw - 408px);
}

#side-panel {
  height: 100vh;
  width: 408px;
  background: rgb(252, 252, 252);
}

.autocomplete-dropdown-container {
  position: absolute;
  display: flex;
  max-width: 500px;
  z-index: 2;
}

#bottom {
  width: 100%;
}

#home-info {
  display: flex;
}
#ranking-tabs {
  background-color: #f8f9f9;
}

.flex-container {
  display: flex;
}

.list {
  list-style: none;
  padding: 0;
}

.li-item {
  margin-bottom: 10px;
}

.content-wrap {
  width: 100%;
}

.no-margins {
  margin: 0px 0px;
}

.card-title {
  margin: 0 15px;
}

.button-wrap {
  display: flex;
}

.side-panel-body {
  padding: 0 10px;
}

.menu-buttons {
  justify-content: space-evenly;
}

.addressbook-select {
  background-color: #f0336c;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
}
.menu {
  width: 44%;
}

.search-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 20px 0 20px 0;
}

.absolute-right {
  position: absolute;
  right: 0;
}
