body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

#top {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

#map {
  width: calc(100vw - 250px);
}

#side-panel {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  /* position: fixed; Fixed Sidebar (stay in place on scroll) */
  /* z-index: 1; Stay on top */
  /* top: 0; Stay at the top */
  /* left: 0; */
  /* overflow-x: hidden; Disable horizontal scroll */
  background: gray;
}

#ranking-tabs {
  background-color: gray;
}

/* #nav-bar { keep 4 phan?
  margin-left: 250px;
  padding: 0px 10px;
} */
