body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#nav-bar {
  height: 0;
}

.user-links a,
.user-links a:visited {
  display: inline-block;
  margin: 1em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 7px #292929;
}

.link-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  margin: 13px 13px;
  right: 0;
  z-index: 2;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  width: 3.5em;
  border-radius: 100px;
  background-color: #ff595e;
}

.logo {
  display: inline-block;
  color: white;
  text-align: center;
  font-weight: bold;
}

.tips {
  position: absolute;
  right: 9px;
  top: 80px;
  background-color: rgb(247, 189, 0);
  z-index: 1;
  border-radius: 15px;
}

.show-tips {
  margin: 0;
}

.form-welcome {
  margin: 0.5em;
  display: inline-block;
}

.welcome-modal {
  justify-content: space-evenly;
  padding-bottom: 15px;
  position: relative;
}

.fields {
  display: flex;
  align-items: center;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

#top {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

#map {
  width: calc(100vw - 408px);
}

#side-panel {
  height: 100vh;
  width: 408px;
  background: rgb(252, 252, 252);
}

.autocomplete-dropdown-container {
  position: absolute;
  display: flex;
  max-width: 500px;
  z-index: 2;
}

#bottom {
  width: 100%;
  min-height: 20vh;
}

#home-info {
  display: flex;
}

.rankings-appbar {
  position: absolute;
}

.tab {
  display: inline-block;
  border-top-right-radius: 68px;
  border-top-left-radius: 68px;
  width: 130px;
  font-size: 20px;
  margin-left: -15px;
  line-height: 42px;
  color: white;
  text-align: center;
  height: 40px;
  margin-top: -40px;
}

.blue {
  background-color: #3f51b5;
}

.light-blue {
  background-color: #707eca;
}

.result {
  z-index: 1;
}
.overlap {
  z-index: 2;
}

.selected {
  z-index: 3;
}

.flex-container {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 0;
}

.li-item {
  margin-bottom: 10px;
}

.content-wrap {
  width: 100%;
}

.no-margins {
  margin: 0px 0px;
}

.inline {
  display: inline-block;
}

.auto-form {
  margin-left: -10px;
}

.card-title {
  margin: 0 15px;
}

.dropdown-wrap {
  display: flex;
  position: absolute;
  right: 0;
  transform: translate(4%, -77%);
}

.side-panel-body {
  padding: 0 10px;
}

.menu-buttons {
  justify-content: center;
  margin-top: 15px;
}

.addressbook-display {
  overflow-y: auto;
  height: calc(80vh - 250px);
  width: 100%;
}

.addressbook-select {
  display: flex;
  justify-content: space-around;
}

.welcome-col {
  margin-right: 25px;
}

.auth-form {
  display: flex;
  flex-flow: column;
}

.divider {
  background-color: #d5d4d4;
  width: 1px;
}

.about-buttons {
  transform: translate(0, 8%);
  top: 50%;
  margin: 0 0;
}

.search-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 0px 0 20px 0;
}

.all-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.absolute-right {
  position: absolute;
  right: 0;
}

.duration-wrapper {
  min-width: 40px;
  margin-right: 14px;
}

.image-wrap {
  width: 100px;
  text-align: left;
  flex-flow: column;
}

.info-p {
  margin: 0 0;
}

.marker-p {
  margin-left: -32px;
}

.bold {
  font-weight: 500;
}

.duration-group {
  position: absolute;
  left: 35vw;
}
